# Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache/
.tox/

# Node / JS
node_modules/
dist/
dist-ssr/
*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store
